.menu-bar {
    background-color: #54b56a;
  }
  .time-table {
    border-radius: 30px;
    border-width: 2px;
    border-style: dotted;
    padding: 10px;
    background-color: #4c6e88;
    box-shadow: -5px 15px 20px black  ; 
  }
  .time-form {
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .text-menu {
    color: white;
  }